<div class="mat-headline" fxLayout="row" fxLayoutAlign="space-between">
  <mat-label fxLayoutAlign="start center">
    <mat-icon>search</mat-icon> Search</mat-label>
  <mat-icon class="close-button flex-1" (click)="closeDialog()">close</mat-icon>
</div>
<div class="mat-card-content" fxLayout="row" style="padding-top: 5px">
  <mat-form-field fxFlex>
    <input matInput placeholder="Search" />
  </mat-form-field>
  <a (click)="openDialog()" color="primary" mat-mini-fab matTooltip="Search">
    <mat-icon>search</mat-icon>
  </a>
</div>
<div class="mat-card-content" style="padding-top: 5px;">
  <div class="mat-checkbox" fxLayout="row" *ngFor="let container of criteriaContainer;">
    <div *ngFor="let criteria of container">
      <div class="mat-form-field-infix">
          <mat-checkbox>{{criteria}}</mat-checkbox>  
      </div>
    </div>
    <!-- <div class="mat-form-field-infix">
        <mat-checkbox>{{ container | json}}</mat-checkbox>  
    </div>
    <div class="mat-form-field-infix">
        <mat-checkbox>123</mat-checkbox>  
    </div>
    <div class="mat-form-field-infix">
        <mat-checkbox>123</mat-checkbox>  
    </div> -->

  </div>
</div>