<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode"></app-bdo-form-header>
<app-request-header></app-request-header>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Aldo</mat-panel-title>
      <mat-panel-description class="text-right">DBA Name, Administrator, DBA Outlet Address</mat-panel-description>
    </mat-expansion-panel-header>
    <app-branch>
      <app-branch-info></app-branch-info>
    </app-branch>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Bench</mat-panel-title>
      <mat-panel-description class="text-right">DBA Name, Administrator, DBA Outlet Address</mat-panel-description>
    </mat-expansion-panel-header>

    <app-branch>
      <app-branch-info></app-branch-info>
    </app-branch>
  </mat-expansion-panel>
</mat-accordion>

